<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Fizzi.Applications.Splitter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>

        <section name="displayTemplates" type="Fizzi.Applications.Splitter.Model.DisplayTemplatesConfigurationSection, Splitter" allowExeDefinition="MachineToLocalUser" />
    </configSections>
    <userSettings>
        <Fizzi.Applications.Splitter.Properties.Settings>
            <setting name="IsNewVersion" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsVeryFirstLoad" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AllowsTransparency" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ConfigPath" serializeAs="String">
                <value />
            </setting>
            <setting name="MsDecimalCount" serializeAs="String">
                <value>2</value>
            </setting>
        </Fizzi.Applications.Splitter.Properties.Settings>
    </userSettings>

    <displayTemplates>
      <available>
        <add TemplateId="dcc5de7d-e204-475f-826e-6edb0d76492f" TemplateName="&lt;Default&gt;"
                WindowWidth="250" WindowHeight="400">
          <MainFont Family="Calibri" Size="14" />
          <HeaderFont Family="Calibri" Size="14" />
          <TimerFont Size="40" Family="Calibri" />
        </add>
      </available>
    </displayTemplates>
</configuration>